@import "../../scss/variables";

.input {
  color: $white-90;
  background-color: transparent;
  width: 100%;
  font-size: 14px;

  outline: none;
  border: none;

  background-color: $gray-80;
  padding: 8px;
  border-radius: 10px;

  &::placeholder {
    color: $gray-60;
  }

  &:focus {
    &::placeholder {
      color: $white-10;
    }
    outline: 2px solid $gray-60;
  }
}
