@import "../../scss/variables";

.input {
  color: $white-90;
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  font-weight: 600;

  outline: none;
  border: none;

  &::placeholder {
    color: $gray-10;
  }

  &:focus {
    &::placeholder {
      color: $gray-50;
    }
  }
}
