@import "../../scss/variables";

.button {
  padding: 8px 16px;
  background-color: $red;
  color: $white-90;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
    gap: 2px;
  }
}

.text {
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  svg {
    padding-top: 2px;
  }

  &:hover {
    color: $white-10;
  }
}
