@import "../../scss/variables";

.menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menuList {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  cursor: pointer;

  a {
    color: $white-10;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $white-90;
    }
  }

  svg {
    font-size: 12px;
  }
}

.active {
  a {
    color: $white-90;
  }
}

.smallScreen {
  display: none;
}

.largeScreen {
  display: block;
}

@media screen and (max-width: $media-2) {
  .menu {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    backdrop-filter: blur(18px);
    padding: 8px 0;

    .menuList {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .menuItem {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .active .largeScreen {
      color: $white-90;
    }

    .smallScreen {
      display: block;

      svg {
        font-size: 24px;
      }
    }
  }
}
