@import "../../scss/variables";

.menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menuList {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  cursor: pointer;

  a {
    color: $white-10;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $white-90;
      transition: all 0.3s ease-in-out;
    }
  }

  svg {
    font-size: 12px;
  }
}

.menuItemMb {
  display: none;
}

@media screen and (max-width: $media-2) {
  .fixedMenu {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    background-color: $black-10;
    padding: 8px 0;

    .menuList {
      justify-content: space-evenly;
    }

    .menuItem {
      display: none;
    }

    .menuItemMb {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: 12px;

      svg {
        font-size: 24px;
      }
    }
  }
}
