@import "../../scss/variables";

.profile {
  display: flex;
  align-items: center;
  height: 100%;

  &__image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    align-items: center;

    svg {
      font-size: 24px;
      color: $white-10;

      &:hover {
        color: $white-90;
      }
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
  }
}
