@import "../../scss/variables";

.profile {
  display: flex;
  align-items: center;
}

.image {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    font-size: 10px;
  }
}

.name {
  font-size: 14px;
  font-weight: 0;
}
