.movies {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.container {
  display: flex;
  gap: 32px;
  transition: all 0.7s ease-in-out;
}

.actions {
  position: absolute;
  top: 45%;

  width: 100%;

  display: flex;
  justify-content: space-between;

  svg {
    font-size: 32px;
    text-align: center;

    &:hover {
      background: #000;
      border-radius: 50%;
    }
  }
}
