@import "../../scss/variables";

.carousel-slider {
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    gap: 32px;
    transition: all 0.7s ease-in-out;
  }

  &__actions {
    position: absolute;
    top: 45%;

    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &__action {
    padding: 4px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;

    svg {
      width: 100%;
      height: auto;
      display: none;
      font-size: 32px;
    }

    &_active {
      cursor: pointer;
      svg {
        display: block;
      }

      &:hover {
        background: $black-20;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__text {
    margin-bottom: 8px;
  }
}
