@import "../../scss/variables";

.carousel-slider {
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    transition: all 0.7s ease-in-out;
  }

  &__actions {
    position: absolute;
    top: 45%;

    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &__action {
    opacity: 0;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_active {
      opacity: 1;
    }

    &:hover {
      background: $black-20;
      border-radius: 50%;
    }

    svg {
      font-size: 32px;
      cursor: pointer;

      transition: all 0.3s ease-in-out;
    }
  }

  &__text {
    margin-bottom: 8px;
  }
}
