@import "../../scss/_variables.scss";

.card {
  box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 100%;

  &:hover {
    transform: scale(1.015);
  }

  &__image {
    width: 200px;
    height: 274px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 8px;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__year {
    color: $gray-70;
  }

  &_watched {
    width: 300px;

    img {
      width: 300px;
      height: 200px;
    }
  }
}
