@import "../../scss/_variables.scss";

.card {
  background: blue;
}

.slide {
  min-width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 48px;
}

.info {
  max-width: 450px;

  h1 {
    color: $white-90;
  }

  p {
    color: $white-90;
    margin-bottom: 16px;
  }

  button {
    width: 140px;
  }
}

@media (max-width: $mobile) {
  .slide {
    align-items: center;
    text-align: center;
  }
  .info {
    max-width: 300px;
  }
}
