@import "../../scss/variables";

.header {
  width: 100%;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  &__logo {
    max-width: 100%;
  }

  &__profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 4px;
  }
}
