@import "../../scss/variables";

.header {
  padding: 24px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  svg {
    font-size: 24px;
  }
}

@media (max-width: $mobile) {
}
