@import "../../scss/variables";

.header {
  padding: 24px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}

@media screen and (max-width: $media-1) {
}

@media screen and (max-width: $media-2) {
  .menu {
    display: none;
  }
}
