@import "../../scss/variables";

.search {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-weight: 600;

  svg {
    padding-top: 2px;
    font-size: 18px;
  }
}
