// whites
$white-10: #9b9a97;
$white-20: rgba(255, 255, 255, 0.7);
$white-90: #fff;

// blacks
$black-10: #0f1011;
$black-90: #000;

//grays
$gray-10: #292a2f;
$gray-50: #60606c;

// reds
$red: #e32225;

//media screens

$media-1: 1200px;
$media-2: 768px;
// $tablet: 768px;
// $mobile: 550px;
