@import "./variables";
@import "./libs/normalize";

html,
body {
  background-color: $black-10;
  color: $white-90;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antiliased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 0;
}

.menu {
  display: none;
}
