@import "../../../scss/variables";

.tab {
  flex: 1;
  text-align: center;
  color: $white-10;
  padding: 8px 4px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.active {
  background-color: $gray-60;
  color: $white-90;
}

.tabContent {
  transition: transform 0.3s ease-in-out;
}
